body{
    background-image:url(https://images.unsplash.com/photo-1553289038-6638b1a1802a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
   opacity: 0.8;
}

#circleSun{
    margin-left: -150px;
    margin-top: -150px;
     height: 225px;
  width: 225px;
  border-radius: 50%;
  display: inline-block;
   background-image: linear-gradient(to right, black , #60A2CF);
}
#triangle {
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-top: 0;
  border-bottom: 250px solid rgb(4, 38, 56);
  margin-left: 150px;
  margin-top: -20px;
 
 }

#rectangle{
  height: 200px;
  width: 290px;
 background-image: linear-gradient(to bottom right, black , #60A2CF);
  margin-bottom: 3px;
  margin-top: 0;
  margin-left: 205px;
 }

#circleWindows{
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 50%;
  margin-top: -350px;
  margin-left: 323.4px;
}
#rectangleWindowRoof{
    background-color: black;
    height: 50px;
    width: 0.8px;
    border-radius: 5px;
    margin-top: -50px;
    margin-left: 347px;
}
#horn{

    margin-top: -110px;
    margin-left: 430px;
    width: 50px;
    height: 150px;
    background-color: rgb(4, 38, 56);
    
}
#roofHorn{
    margin-top: -160px;
    margin-left: 420px;
    width: 70px;
    height: 15px;
    background-image: linear-gradient(rgb(4, 38, 56),rgb(2, 12, 17));
 
}
#squareWindow1{
    background-color: gray;
    margin-top: 220px;
    margin-left: 250px;
    width: 50px;
    height: 50px;
}
#rectangleWindow1{
    background-color: black;
    height: 50px;
    width: 0.9px;
    border-radius: 5px;
    margin-top: -50px;
    margin-left: 274.6px;
}
#squareWindow2{
     background-color: gray;
    margin-top: -48px;
    margin-left: 410px;
    width: 50px;
    height: 50px;
}
#rectangle2Window2{
   background-color: black;
    height: 50px;
    width: 0.8px;
    margin-top: -50px;
    margin-left: 434px;
}
#r22Window2{
   background-color: black;
    height: 0.8px;
    width: 50px;
    margin-top: -25px;
    margin-left: 411px;
}
    
#rDoor{
     background-color:grey;
    margin-top: 63px;
    margin-left: 330px;
   width: 55px;
    height: 90px;
} 

#squareDoor{
    background-color: rgb(28, 128, 128);
    margin-top: -83px;
    margin-left: 338px;
    width: 39px;
    height: 35px; 
}
#circleKey{
      height: 6px;
  width: 6px;
  background-color: green;
  border-radius: 50%;
 margin-left:333px;
margin-top: 5px;
}

#circleTree1{
  height: 100px;
  width: 100px;
  background-color: #162f2a;
  border-radius: 50%;
  margin-top: -185px;
  margin-left: 20px;
}
#rectangleTree1{
      background-image:linear-gradient( #786079,#2b2a37);
    margin-top: -62px;
    margin-left: 65px;
    width: 10px;
    height: 95.5px;
}
#circleTree2{
  height: 100px;
  width: 40px;
  background-color:#132829;
  border-radius: 50%;
  margin-left: 590px;
  margin-top: -138px;
 }
#rectangleTree2{
    background-image:linear-gradient( #786079,#2b2a37);
    margin-top: -7px;
    margin-left: 605px;
    width: 10px;
    height: 95px;
  
}

input{
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#custom {
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid green;
}

#custom:checked {
  background-color: green;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}
#custom:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  left: 9px;
  width: 4px;
  height: 9px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: white;
  transform: rotate(45deg);
}

#main{
    display:none;
  
}
#fixed{
    position: fixed;
}
label{
    color: white;
}